* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(50, 50, 50);
}

body {
  min-height: 200vh;
  background-color: deepskyblue;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 1s;
  background-color: transparent;
}

.header-scrolled {
  background-color: white;
  transition: all 1s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.primary-navigation a {
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 900;
}

.dropdown {
  visibility: hidden;
  position: absolute;
  top: 70px;
  left: 80px;
  background-color: white;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 36px 28px 8px 28px;
  z-index: 1;
}

.primary-navigation:hover .dropdown {
  visibility: visible;
}

.menu-item {
  padding-bottom: 28px;
}

.menu-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.primary-navigation a:active,
.primary-navigation a:hover {
  background-color: rgb(255, 225, 0);
  border-radius: 16px;
  color: white !important;
}

.input-search {
  background: transparent;
  border: 1px solid;
  color: rgb(50, 50, 50);
  border-radius: 16px;
  width: 280px;
  height: 32px;
  padding-left: 12px;
}

input[type=search]::-moz-placeholder {
  padding-left: 20px;
  color: rgb(50, 50, 50);
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat left;
}

input[type=search]:-ms-input-placeholder {
  padding-left: 20px;
  color: rgb(50, 50, 50);
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat left;
}

input[type=search]::placeholder {
  padding-left: 20px;
  color: rgb(50, 50, 50);
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat left;
}

.account-basket {
  cursor: pointer;
  font-weight: 900;
  padding: 8px 16px;
}

.account-basket:active,
.account-basket:hover {
  background-color: rgb(255, 225, 0);
  border-radius: 16px;
  color: white !important;
}
.account-basket:active svg,
.account-basket:hover svg {
  fill: white;
}

svg {
  fill: rgb(50, 50, 50);
  margin: 0 4px;
}

.basket-icon {
  cursor: pointer;
}

.basket {
  cursor: pointer;
  position: absolute;
  top: 26px;
  right: 22px;
  background-color: tomato;
  color: white;
  border-radius: 3px;
  padding: 3px;
  font-size: 10px;
}/*# sourceMappingURL=styles.css.map */